@import '../../../sass/variables';

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    h1{
        font-size: 1.75rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    form{
        .formFields{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem 2rem;
        }

        .formControl{
            display: flex;
            flex-direction: column;

            .inputBox{
                position: relative;
            }

            .errorFieldBorder{
                border-color: #f00;
            }

            .errorFieldMessage{
                color: #f00;
                font-size: 0.8rem;
                margin-top: 0.15rem;
            }

            label{
                font-size: 1rem;
            }

            input{
                font-size: 1rem;
                width: 100%;
                border-radius: 0.25rem;
                border: 2px solid transparent;
                overflow: hidden;
            }
        }

        .addField, .removeField{
            position: absolute;
            top: 0;
            right: 0;
            color: $font-main;
            background-color: $layout-button;
            border-radius: 0 0.2rem 0.2rem 0;
            border: 2px solid transparent;
            transition: 0.2s;

            &:hover{
                background-color: $layout-button-hover;
            }
        }

        .addField{
            background-color: $layout-button;

            &:hover{
                background-color: $layout-button-hover;
            }
        }

        .removeField{
            background-color: #611414;

            &:hover{
                background-color: #7b0c0c;
            }
        }

        small{
            display: block;
            margin-top: 1rem;
            font-size: 0.7rem;
        }

        .buttonContainer{
            width: 100%;
            margin-top: 1.5rem;
            text-align: center;

            button{
                padding: 0.75rem;
                color: $font-main;
                background-color: $layout-button;
                border: none;
                border-radius: 0.25rem;
                padding: 0.3rem;
                transition: 0.2s;

                &[disabled]{
                    opacity: 0.6;
                }

                &:not([disabled]):hover{
                    background-color: $layout-button-hover;
                }
            }
        }
    }
}
