// Body
$body-bg: #151515;

// Typography
$roboto: 'Roboto', sans-serif;
$font-main: #dadada;
$layout: #23416e;
$layout-button: #143361;
$layout-button-hover: #0c387b;
$layout-border: #4f89e0;
$layout-selected: #2a61b5;
