// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    background: $body-bg;
    font-family: $roboto;
    color: $font-main;

    a{
        color: $font-main;

        &:hover{
            color: $font-main;
        }
    }
}
