@import '../../../sass/variables';

.layout{
    margin: 0 auto;
    background: $layout;
    width: 700px;
    border-radius: 0.25rem;
    padding: 2rem;
}

.layoutHeader{
    width: 100%;
    justify-content: center;
    display: flex;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px dashed $layout-border;

    button{
        background: $layout-button;
        border: none;
        border-radius: 0.25rem;
        transition: 0.2s;

        &:first-of-type{
            margin-right: 0.5rem;
        }

        &:hover{
            background: $layout-button-hover;
        }

        &.selected{
            background: $layout-selected;
        }

        a{
            font-size: 1.5rem;
        }
    }
}
