@import '../../../sass/variables';

.card{
    margin: 0 auto;
    background: #23416e;
    width: 700px;
    border-radius: 0.25rem;
    padding: 2rem;
}

.cardHeader{
    width: 100%;
    justify-content: center;
    display: flex;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 2px dashed #767676;

    button{
        background: $card-button;
        border: none;
        border-radius: 0.25rem;
        transition: 0.2s;

        &:first-of-type{
            margin-right: 0.5rem;
        }

        &:hover{
            background: $card-button-hover;
        }

        a{
            font-size: 1.5rem;
        }
    }
}
