@import '../../../sass/variables';

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;

    h1{
        font-size: 1.75rem;
        font-weight: 500;
        margin-bottom: 1rem;
        margin-right: 3rem;
    }

    table{
        width: 100%;
        border-bottom: 2px solid $layout-border;

        thead{
            margin-bottom: 2rem;
            border-bottom: 2px solid $layout-border;
            border-top: 2px solid $layout-border;
        }

        tr:nth-of-type(2n){
            background-color: #2f5286;
        }

        th{
            padding: .75rem .5rem;
        }

        td{
            padding: .5rem .5rem;
        }

        .tableActions{
            button{
                color: $font-main;
                background-color: $layout-button;
                border: none;
                border-radius: 0.25rem;
                transition: 0.2s;

                &:not(:last-of-type){
                    margin-right: 0.25rem;
                }

                &:hover{
                    background-color: $layout-button-hover;
                }
            }
        }
    }

    .paginationContainer{
        ul{
            margin-top: 2rem;
            display: flex;
            list-style-type: none;
        }

        li{
            height: 25px;
            width: 25px;
            background-color: $layout-button;
            border: none;
            border-radius: 50%;
            text-align: center;
            line-height: 25px;
            transition: 0.2s;

            &:not(:last-of-type){
                margin-right: .5rem;
            }

            &:hover{
                background-color: $layout-button-hover;
            }
        }
    }
}
